@Html.ActionLink("Добавление анализа", "AddAnalysis", "LaboratoryAdmin", null, new { @class = " btn btn-primary" })
<span>&nbsp;</span>
@Html.ActionLink("Регистрация лаборанта", "AddLaborant", "LaboratoryAdmin", null, new { @class = " btn btn-primary" })
<span>&nbsp;</span>
