@{
    ViewBag.Title = "Главная страница";
}

<div id="indexDiv" class="container">
    <div id="back"></div>
    <img id="photo" src="http://zt.sfs.gov.ua/data/material/000/235/312705/photo.jpg" />
    <h1>АИС "Поликлиника"</h1>
    <p></p>
</div>
