@Html.ActionLink("Добавление учреждения", "AddInstitutions", "Admin", null, new { @class = " btn btn-primary" })
<span>&nbsp;</span>
@Html.ActionLink("Добавление администратора учреждения", "AddAdmin", "Admin", null, new { @class = " btn btn-primary" })
<span>&nbsp;</span>
@Html.ActionLink("Удаление клиники", "RemoveClinic", "Admin", null, new { @class = " btn btn-primary" })
<span>&nbsp;</span>
@Html.ActionLink("Удаление лабаратории", "RemoveLabaratory", "Admin", null, new { @class = " btn btn-primary" })
<span>&nbsp;</span>
<br /><br />
