@Html.ActionLink("Регистрация модератора", "AddModerator", "ClinicAdmin", null, new { @class = " btn btn-primary" })
<span>&nbsp;</span>
@Html.ActionLink("Регистрация врача", "AddDoctor", "ClinicAdmin", null, new { @class = " btn btn-primary" })
<br /><br />
@Html.ActionLink("Регистрация kk", "lab", "ClinicAdmin", null, new { @class = " btn btn-primary" })
<br /><br />
@Html.ActionLink("Удаление модератора", "RemoveModerator", "ClinicAdmin", null, new { @class = " btn btn-primary" })
<br /><br />
@Html.ActionLink("Удаление врача", "RemoveDoctor", "ClinicAdmin", null, new { @class = " btn btn-primary" })
